/* 页面初始化css */
* {margin:0; padding:0; border:none; box-sizing:border-box;}
html,
body {width:100%; height:100%; font-size:12px; color:#505050; font-family:Arial,'Microsoft YaHei','PingFang SC','sans-serif'}
button,
input,
select,
textarea {background:transparent; outline:none; border:none; font-size:12px;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;} 
a,
button{cursor:pointer;}
ul,
ol,
li {list-style:none;}
a {text-decoration:none;}
a:hover {opacity:0.8;}
i {font-style:normal;}
.left {float:left;}
.right {float:right;}
.hidden,
[hidden] {overflow:hidden;}
#app {width:100%; height:100%;}
::-webkit-scrollbar {width:4px; height:4px; }
::-webkit-scrollbar-track {background-color:transparent; /* border:1px solid #ccc; */}
::-webkit-scrollbar-thumb {background-color:#7f7f7f; border-radius:10px; cursor:pointer; }
::-webkit-scrollbar-thumb:active {background-color:#7f7f7f; }
.no-inherit {cursor: default; visibility: initial; letter-spacing: normal; word-spacing: normal; white-space: normal; line-height: normal; color: initial; font: initial; font-family: normal; font-size: initial; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: initial; text-transform: initial; direction: initial; text-indent: initial; text-align: initial; list-style: initial; border-collapse: initial;}

/* vue过渡效果 */
.modal-fade-enter,
.modal-fade-leave-active {opacity:0;}
.modal-fade-enter-active,
.modal-fade-leave-active {transition:opacity .5s ease}
.modal-slide-enter-active,
.modal-slide-leave-active {transition:all .6s;}
.modal-slide-enter,
.modal-slide-leave-to{transform:translateX(-300px);}
.draw_down-enter-active,
.draw_down-leave-active {transition:transform .5s;}
.draw_down-enter,
.draw_down-leave-to{transform:translate(0,-100%);}
.dropdown-fade-enter,
.dropdown-fade-leave-active {opacity:0;}
.dropdown-fade-enter-active,
.dropdown-fade-leave-active {transition:all .4s;}
.modal-enlarge-enter,
.modal-enlarge-leave-active {transform: scale(.8);}
.modal-enlarge-enter-active,
.modal-enlarge-leave-active {transition:transform .3s}

/* 回到顶部 */
.gotop {position:fixed; bottom:140px; right:10px; z-index:999; display:none; width:43px; height:43px; background:#989898 url(../images/common/gotop.png) no-repeat center 5px; cursor:pointer; box-shadow:1px 2px 2px rgba(0,0,0,.2); border-radius:50%;}
.gotop:hover {background:#0d7bf8 url(../images/common/gotop.png) no-repeat center -146px;}

/* 编辑器通用侧边面板框 */
.side_panel_contain {position: fixed; width: 296px; top: 0; left: 0; height: 100%; padding: 12px; background-color: #ffffff; box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.04); font-size: 14px; z-index: 20; overflow: hidden; user-select: none;}
.side_panel_contain::-webkit-scrollbar-track {background-color: #f6f6f6;}
.side_panel_contain::-webkit-scrollbar-thumb { display: none; background-color: #dce7ff; border-radius: 3px; cursor: pointer;}
.side_panel_contain::-webkit-scrollbar-thumb:active {background-color: #dce7ff;}
.side_panel_contain:hover::-webkit-scrollbar-thumb {display: block;}

/** 查找高亮 **/
.search-highlight { background: #154274; }
.search-highlight.select { background: #0D7BF6; }

/* 通用弹窗样式 */
.modal {position:absolute; top:0; left:0; bottom:0; right:0; width:360px; height:210px; overflow:hidden; margin:auto; background:#fff; border-radius:4px; box-shadow:0 5px 30px 0 rgba(0,0,0,0.2); font-size:14px;}
.modal-backdrop {z-index:900; position:fixed; top:0; right:0; bottom:0; left:0; overflow:auto; margin:0; background: rgba(36,46,76,0.65); backdrop-filter: blur(10px);}
.modal-backdrop.bg-transparent {background:transparent;}
.modal-backdrop.zindex-2 {z-index:10;}
.material-sort ul .li-favorite i,
.modal-close {background:url(../images/common/modal_sp.png) no-repeat 0 0;}
.modal-close {float:right; width:26px; height:26px; background-position:8px 8px; transition:all .4s;}
.modal-close:hover {transform:rotate(180deg);}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {position:relative; padding:0 30px 10px;}
.modal .modal-header {min-height:40px; padding:20px 30px;}
.modal .modal-body {height:100px; overflow:hidden;}
.modal .modal-footer {text-align:right;}
.modal .modal-title {display:block; font-size:16px; color:#666;}
.modal .modal-close {position:absolute; top:17px; right:22px;}
.modal .modal-footer .button {display:inline-block; margin:0 6px; padding:7px 20px; background:var(--mainColor); border-radius:4px; font-size:14px; color:#fff; cursor:pointer;}
.modal .modal-footer .button:last-child {margin-right:0;}
.modal .modal-footer .button-cancel {background:#fff; border:1px solid #e5e5e5; color:#636363;}
.modal .modal-footer .button:hover {opacity:.8;}

/* 分享弹窗 */
.share-modal{width:500px; height:auto; margin-left:-250px; margin-top:-195px; text-align:left;}
.share-modal .modal-body{height:auto;}
.share-modal .share-ewm{text-align:center;}
.share-modal .share-ewm span{display:inline-block; width:120px; height:120px; }
.share-modal .share-ewm p{color:#8c8c8c;}
.share-modal .share-ewm .qrcode{position:relative;}
.share-modal .share-ewm .qrcode img{position:absolute; top:50%; left:50%; margin-top:-15px; margin-left:-15px;}
.share-modal .share-link{position:relative; margin:30px 0;}
.share-modal .share-link input{width:100%; height:36px; line-height:36px; padding:0 10px; border:1px solid #dfdfdf;}
.share-modal .share-link button{position:absolute; top:0; right:0; width:118px; height:36px; line-height:36px; padding:0 15px; background:var(--mainColor); color:#fff;}
.share-modal .share-authority{margin-bottom:10px;}
.share-modal .share-checkbox{color:#a1a1a1;}
.share-modal .share-checkbox .radio-box:first-child{margin-left:20px;}
.share-modal .share-checkbox .radio-box{display:inline-block; position:relative; height:25px; line-height:25px; margin-right:42px; cursor:pointer; font-size:14px; color:#636363;}
.share-modal .share-checkbox .radio {display:inline-block; width:12px; height:12px; margin:0 5px 2px 0; vertical-align:middle; cursor:pointer; padding:2px; background-color:#fff; border:1px solid #d0d0d0; border-radius:4px;}
.share-modal .share-checkbox .input-radio {display:inline-block; position:absolute; opacity:0; width:12px; height:12px; cursor:pointer; left:0px; outline:none; -webkit-appearance:none;}
.share-modal .share-checkbox .on {border-color:var(--mainColor);}
.share-modal .share-checkbox .on:before{content:""; position:absolute; top:11px; left:3px; width:6px; height:6px; background-color:var(--mainColor); border-radius:50%;}
.share-modal .share-pwd{margin:12px 0 0 0;}
.share-modal .share-pwd input{width:377px; height:30px; line-height:30px; padding:0 10px; border:1px solid #e8e8e8; border-radius:4px;}
.share-modal .share-pwd input::-webkit-input-placeholder{color:#c8c8c8;}
.share-modal .share-pwd input:-moz-placeholder{color:#c8c8c8;}
.share-modal .share-pwd input::-moz-placeholder{color:#c8c8c8;}
.share-modal .share-pwd input:-ms-input-placeholder{color:#c8c8c8;}
.share-modal .share-pwd button{float:right; height:30px; line-height:30px; padding:0 15px; background:var(--mainColor); border-radius:2px; color:#fff;}

/* 媒体控件样式 */
.media-controls { display: inline-block; width: auto; height: 40px; border-radius: 4px; border: 1px solid #dddddd; background-color: #f8f8f8; user-select: none;}
.media-body { position: relative; width: 100%; height: 100%; padding: 4px 10px; font-size: 0; white-space: nowrap;}
.media-body>div { display: inline-block; vertical-align: middle; height: 30px; line-height: 30px; font-size: 12px;}
.media-body .media-play { position: relative; width: 30px; margin-right: 18px; transform: scale(.5); background-color: #444444; border-radius: 50%; cursor: pointer;}
.media-body .media-play::before { content: ""; position: absolute; top: 8px; left: 12px; width: 0; height: 0; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-right: 10px solid transparent; border-left: 10px solid #ffffff;}
.media-body .media-play[paused=false]::before { content: ""; position: absolute; top: 9px; left: 9px; width: 4px; height: 12px; border-left: 4px solid #ffffff; border-right: 4px solid #ffffff; border-top: none; border-bottom: none;}
.media-body .media-progress { position: relative; width: 100px; height: 20px; padding: 8px 0; margin-right: 12px; cursor: pointer;}
.media-body .media-progress .media-progress-now {position: absolute; top: 50%; left: 0; transform: translateY(-50%); display: block; width: 0; height: 4px; border-radius: 4px; background:var(--mainColor);}
.media-body .media-progress::before { content: ""; position: absolute; top: 50%; left: 0; transform: translateY(-50%); display: block; width: 100%; height: 4px; border-radius: 4px; background-color: #cdcdcd;}
.media-body .media-progress-position { position: absolute; top: 50%; left: 0; transform: translate(-50%, -50%); width: 12px; height: 12px; background: #ffffff; border: 2px solid var(--mainColor); border-radius: 50%;}
.media-body .media-duration { margin-right: 12px; font-size: 12px; color: #3a3a3a;}
.media-body .media-volume { position: relative; width: 30px; cursor: pointer; overflow: hidden;}
.media-body .media-volume:hover {overflow: visible;}
.media-body .media-volume:hover::before {display: block;}
.media-body .media-volume:hover .media-volume-slider {opacity: 1;}
.media-body .media-volume-icon { position: relative; display: flex; width: 100%; height: 100%;}
.media-body .media-volume-icon svg { margin: auto; width: 18px; height: 18px;}
.media-body .media-volume-icon[muted=true]::after { content: ""; position: absolute; top: 3px; left: 5px; width: 100%; height: 2px; background-color: #5d5d5d; border-top: 1px solid #ffffff; transform-origin: 0 0; transform: rotate(45deg);}
.media-body .media-volume::before { content: ""; position: absolute; top: -120px; left: 0; width: 100%; height: 120px;}
.media-body .media-volume-slider { position: absolute; top: -100px; left: 0; width: 100%; height: 100px; opacity: 0; transition: opacity 0.2s;}
.media-body .media-volume-slider::before { content: ""; display: block; width: 4px; height: 100%; margin: 0 auto; border-radius: 4px; background-color: #cdcdcd;}
.media-body .media-volume-slider .media-volume-now { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 4px; height: 100%; background-color: var(--mainColor); border-radius: 4px;}
.media-body .media-volume-slider .media-volume-position { position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 50%); width: 12px; height: 12px; background: #ffffff; border: 2px solid var(--mainColor); border-radius: 50%;}