<!DOCTYPE html>
<html>
<head>
	<title>吾道SDKdemo</title>
</head>
<style type="text/css">
	.opt_area{
		height: 90px;
	}
	.woodo_area{
		text-align:center;
	}
	.woodo_area >>> iframe{
		width: 1200px;
    	height: 800px;
	}
</style>
<body>
	<div class="contain">
		<div class="opt_area">
			<button @click="addPage()">添加页</button>
			<button @click="delPage()">删除页</button>
			<button @click="replacePage()">替换页</button>
			<button @click="orderPage()">排序页</button>
			<button @click="selectPage()">选择文档页</button>
			<button @click="getSaveCommand()">获取保存指令</button>
			<button @click="addRecord()">接收平台操作记录</button>
			<select v-model="typeSelected">                                        
    			<option :value="type.name" v-for="type in typeList" >{{type.name}}</option>                                    
			</select>
			<button @click="exportDoc()">导出</button>
			<button @click="addPagesByDocId()">根据文档id添加文档</button>
		</div>
		<div class="woodo_area"></div>
	</div>
</body>
</html>